/* Main section */

.news-section .bg-icon {
    position: absolute;
    width: 25rem;
    top: 30%;
    left: 25%;
    position: fixed;
}

.news-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.news-navbar div {
    margin-left: 2rem;
}

.news-navbar .news-link {
    position: relative;
    padding-bottom: 5px;
}

.news-navbar .news-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--highlight);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.news-navbar .news-link.active {
    color: var(--highlight);
}

.news-navbar .news-link.active::after {
    width: 100%;
}

.news-body { 
    margin: 2rem 0.5rem;
    width: 100%;
}

.news-body h1{
    font-weight: 300;
    font-size: 30px;
    color: var(--highlight);
}

.news-body li {
    padding: 0.5rem;
    width: 100%;
}

.news-body hr { 
    border: 1px solid var(--secondary); 
    margin-top: 1rem;
}

.news-main {
    display: flex;
    width: 100%;
}

.news-article {
    width: 100%;
    display: inline;
}

.news-label {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    color: gray;
    font-size: small;
}

.news-date {
    float: right;
    margin-right: 1rem;
    color: gray;
    font-size: small;
}

.news-news, .notice-news, .latest-news {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease, 0.5s ease;
}

.news-news.show, .notice-news.show, .latest-news.show {
    max-height: 28rem;
    opacity: 1;
}

.news-poster {
    float: right;
    min-width: 43rem;
    position: relative;
    overflow: hidden;
}

.news-poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 42rem;
    height: 28rem;
    opacity: 0;
    border: 1px solid var(--secondary);
    border-radius: 0 3rem 0 0;
    transition: opacity 1s ease-in-out;
}

.news-poster img.active {
    opacity: 1;
}

/* Media */
@media (max-width: 1031px) {
    .news-main {
        flex-direction: column;
    }

    .news-news.show, .notice-news.show, .latest-news.show {
        max-height: 50%;
    }    
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #212121;
    border-color: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: #424242; 
    border: 2px solid #424242;
}