/* Main section */
.main-section {
    max-height: 10rem;
}

img {
    width: 125px;
    float: left;
    margin: 0.5rem;
}

.navbar {
    backdrop-filter: blur;
    padding: 0.5rem;
    border-radius: 1rem;
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    width: 50px;
    float: right;
    margin: 1rem 0rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navMenu .nav-link {
    position: relative;
    padding-bottom: 5px;
}

.navMenu .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #d2b07a;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.navMenu .nav-link.active {
    color: #d2b07a;
}

.navMenu .nav-link.active::after {
    width: 100%;
}

.news-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.news-navbar div {
    margin-left: 2rem;
}

.news-navbar .news-link {
    position: relative;
    padding-bottom: 5px;
}

.news-navbar .news-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #d2b07a;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.news-navbar .news-link.active {
    color: #d2b07a;
}

.news-navbar .news-link.active::after {
    width: 100%;
}

.news-body { 
    margin: 0 0.5rem;
}

.news-body h1{
    font-weight: 300;
    font-size: 30px;
    color: #d2b07a;
}

.news-body li {
    padding: 0.5rem;
    width: 50rem;
}

.news-article {
    width: 50rem;
    display: inline;
}

.news-main {
    display: flex;
    border-top: 1px solid #d2b07a;
}

.news-label {
    border: 1px solid #d2b07a;
    border-radius: 10px;
    padding: 5px;
    color: gray;
    font-size: small;
}

.news-news, .notice-news, .latest-news {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease, 0.5s ease;
}

.news-news.show, .notice-news.show, .latest-news.show {
    max-height: 50rem;
    opacity: 1;
}

.news-poster {
    float: right;
    min-width: 43rem;
    position: relative;
    overflow: hidden;
}

.news-poster img {
    width: 50rem;
    height: 10rem;
    border: 1px solid #d2b07a;
    border-radius: 0 3rem 0 0;
}

.news-poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 42rem;
    height: 30rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.news-poster img.active {
    opacity: 1;
}

/* Media */
@media (max-width: 1020px) {
    .burger {
        display: block;
    }
    
    nav {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        padding: 0.5rem;
        z-index: 1;
    }

    nav ul {
        flex-direction: column;
        align-items: center;

    }
    nav.show {
        display: block;
    }

    nav ul {
        border-radius: 0.5rem;
        padding: 1rem;
    }
    
    .navbar img {float: none;}
    body { overflow-x: scroll;}
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #212121;
    border-color: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: #424242; 
    border: 2px solid #424242;
}